body {
	background-color: cornsilk;
	font-family: verdana,sans-serif;
}
#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: darkseagreen;
	padding: 20px;
	margin: 20px;
	text-align: center;
}	
#cards {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	padding: 20px;
	margin: 20px;
	background-color: darkseagreen;
}
.card {
	background-color: honeydew;
	width:200px;
	padding: 20px;
	margin: 20px;
}
.card form div {
    margin-bottom: 15px;
}

.card form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.card form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card form button:hover {
    background-color: #0056b3;
}
img {
	width:200px;
}
/* Media query for mobile devices */
@media (max-width: 768px) {
    img {
        width: 100%; /* Make the image width span 100% of its container */
        max-height: 300px; /* Optional: limit the height for very tall images */
        object-fit: cover; /* Ensures the image fits nicely if height is restricted */
    }
}
