{% extends "pages/_base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock style %}

{% block content %}
<div id="cards">

    <!-- Welcome Card -->
    <div class="card">
		<p>Hi  {{user.username}} {{ user.userprofile.title }}</p>
        <p>Listening your orders</p>
            <form method="POST" action="">
                {% csrf_token %}
                <textarea name="order_text" placeholder="Enter your orders here..." rows="3" required></textarea>
                <br>
                <button type="submit">Order</button>
            </form>
	</div>
</div>
{% for expense in expenses %}

<p>{{ expense.date }} - {{ expense.description }} - {{ expense.amount }}</p>
{% endfor %}

<p>
Jordan B Peterson
</p>
<p>
Robert Greene
</p>
{% endblock content %}
