{% extends "pages/_base.html" %}
{% load static %}
{% block content %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock style %}
<div id="cards">
<form method="post" action="{% url 'pages:login' %}">
            {% csrf_token %}
            <h3>Login</h3>
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
</form>
</div>
{% endblock content %}
